@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
:root{
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  --background:#e5ffff;
  --nav:hsl(180, 60%,40%);
  --primary:#F0A624;
  --font:#212424;
}
*{
  box-sizing: border-box;
}
body{
  font-size: 2rem;
  margin:0;
}

/***** nav styles ******/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0rem;
  padding:5px 70px 5px 20px;
  background-color: var(--nav);
  width: 100%;
  height: 70px;
}
.white{
  color: #e5ffff;
}
.logo{
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
}
h2{
  display: inline-block;
  padding-left: 10px;
  font-family: 'Secular One', sans-serif;;
}
#header-img{
  width: 50px;
  height: 100%;
}

nav li{
  display: inline-block;
  height: 100%;
  /* padding: 20px; */
  font-weight: 500;
  /* background-color: white; */
}
li a{
  display: block;
  padding:2rem;
  text-decoration: unset;
  color: var(--font);
  background-color: var(--nav);
  transition: ease;
}
li a:hover{
  filter: grayscale(40%);
}

/***** container *****/
h1{
  font-size: 3rem;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9rem 10vw;
}
#form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  font-family: inherit;
  font-size: 1.6rem;
  display: block;
  width: 26rem;
  height: 3rem;
  outline: none;
}
input[type=email]:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
button{
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: bold;
  margin:1.6rem;
  padding: 0.6rem;
  background-color:var(--primary);
  display: block;
  border: none;
  transition: 0.2s ease;
  cursor: pointer;
}
button:hover{
  filter:grayscale(40%)
}
button:focus{
  filter:grayscale(40%);
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  margin: 2vh 10vw;
}
article{
  display: grid;
  grid: 23vh/150px 1fr; 
  grid-template-areas: 
    "icon paragraph";
  align-items: center;
  justify-content: center;
}
.icon{
  grid-area: icon;
  font-size: 5rem;
  color: var(--primary);
  margin: 5rem;
  text-align: center;
}
.paragraph{
  grid-area: paragraph;
}
article  h1{
  padding-bottom: -5rem;
  margin: 0;
}
p{
  margin: 0;
  padding: 0;
}
